<div class="hidden_popups">
	<div class="popup popup_info" id="j-popup_info">
		<div class="close_popup"></div>
		<h5 class="popup_info__head">Раздел находится в разработке</h5>
		<span class="popup_info__text">Описание</span>
	</div>
</div>