@media (min-width: 1250px){
	.container{
		width: 1220px;
	}
	.secondary_menu_holder{
		width: 1170px;
	}
	.main_nav__item--hidden{
		display: inline-block;
	}
	.main_nav__item--hidden_drop{
		display: none;
	}
	.main_nav{
		margin: 0 60px 0 0;
	}
	.special_menu{
		margin: 0 24px 0 -15px;
	}
	.main_slider_holder{
		float: left;
	}
	.logo{
		margin: 2px 93px 0 0;
	}
	.main_cats{
		padding: 24px 0 0 0;
	}
	.main_cats__item{
		vertical-align: bottom;
		margin: 0 50px 0 0;
	}
	.main_cats__link{
		margin: 0 0 0 36px;
	}
	.main_cats__link:before{
		position: absolute;
		margin: 0;
	}
	.main_cats__link--tv:before{
		top: -9px;
		left: -36px;
	}
	.main_cats__link--inet:before{
		top: 0;
		left: -32px;
	}
	.main_cats__link--deal:before{
		top: -2px;
		left: -31px;
	}
	.secondary_additional{
		width: 348px;
	}
	.personal_cab_link{
		padding: 11px 10px 10px 42px;
		width: auto;
		margin: 6px 0 0 0;
		font-family: Tahoma, Verdana, Arial, sans-serif;
	}
	.personal_cab_link:before{
		top: 7px;
		left: 9px;
	}
	.why_we__list_item--show1028{
		display: inline-block;
	}
	.banner_box--slim{
		display: block;
	}
	.news__list_item--show1280{
		display: inline-block;
	}
	.ususal_box--hide1280{
		display: none;
	}
	.box--pay_top{
		display: block;
		float: right;
		width: 204px;
		padding: 19px 14px;
	}
	.pay_online__title{
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 2px;
	}
	.pay_online__col_left{
		float: none;
		width: auto;
	}
	.pay_online__col_right{
		float: none;
		width: auto;
	}
	.pay_online__row{
		margin: 0 0 18px;
	}
	.pay_online__way {
		padding: 24px 0 0;
		margin: 0 0 -36px;
		text-align: justify;
	}
	.pay_online__way_item{
		margin: 0 10px 15px;
	}
	.pay_online__way_item--kassa{
		margin: 0 54px 15px 28px;
	}
	.why_we__list{
		width: auto;
		margin: 0;
	}
	.box--package_tv{
		margin: 0 40px 0 0;
	}
	.box--package_int{
		float: left;
	}
	.news__list_holder{
		width: 1141px;
	}
	.news__list{
		width: 1145px;
	}
	.news__list_item{
		margin: 0 4px 0 0;
	}
	.news__title:after{
		width: 810px;
	}
	.rating__list_item{
		margin: 0 50px 0 0;
	}
	.social__item{
		margin: 0 58px 0 0;
	}
	.common_footer_nav__item{
		margin: 0 89px 0 0;
	}
	.filter_holder__item{
		width: 335px;
	}
	.cat_drop__list{
		width: 333px;
	}
	.cat_drop__drop_name{
		width: 255px;
	}
	.tv_accordion__broadcast:after{
		width: 140px;
	}
	.prod_list_holder{
		width: 1141px;
	}
	.prod_list{
		width: 1210px;
	}
	.prod_list__item{
		margin: 0 68px 18px 0;
	}
	.docs{
		width: 520px;
	}
	.user_data_holder{
		width: 1141px;
	}
	.user_data{
		width: 1175px;
	}
	.user_data__row{
		width: 262px;
		margin: 0 27px 50px 0;
	}
	.user_data__row--large{
		width: 555px;
	}
	.user_data__row--full{
		width: 1137px;
	}
	.info_row:after{
		width: 1140px;
	}
	.get_pack__item{
		width: 379px;
	}
	.add_packs_box__tv{
		width: 366px;
	}
	.user_data__row--last{
		width: 847px;
	}
	.head_location__box{
		width: 1220px;
	}
	.head_location__list_item{
		width: 220px;
		margin: 0 40px 0 0;
	}
	.tender_list__content{
		width: 920px;
	}
	.tender_list__price_box{
		width: 217px;
	}
	.tabs_links__item{
		padding: 20px 32px 12px;
	}
	.press_list_holder{
		width: 1141px;
	}
	.press_list{
		width: 1185px;
	}
	.press_list__item{
		width: 545px;
		margin: 0 45px 40px 0;
	}
	.press_list__cont{
		width: 345px;
		font-size: 14px;
		line-height: 24px;
	}
	.press_list__text{
		height: 140px;
	}
	.tv_plus__item{
		width: 347px;
		margin: 0 13px 28px 0;
	}
	.tv_plus__img{
		margin: 0 18px 0 0;
		width: 60px;
	}
	.tv_plus__title{
		margin: 0 0 11px;
	}
	.tv_plus__content{
		display: inline-block;
		vertical-align: top;
		width: 215px;
		padding: 11px 0 0;
		line-height: 24px;
	}
	.tv_plus > li:nth-child(4), .tv_plus > li:nth-child(5){
		display: inline-block;
		vertical-align: top;
		width: 528px;
		margin-bottom: 0;
	}
	.tv_plus > li:nth-child(4) .tv_plus__content, .tv_plus > li:nth-child(5) .tv_plus__content{
		width: 445px;
	}
	.tv_super_holder{
		width: 1140px;
	}
	.tarif_slider_holder{
		width: 840px;
	}
	.tarif_add_pack{
		width: 544px;
		padding: 28px 28px 17px 202px;
		background: url(../pics/panda_02.jpg) no-repeat -60px 100%;
	}
	.tarif_add_pack__list_li{
		width: 133px;
	}
	.add_packs_box__count--tarif_add{
		margin: -7px 63px 6px 0;
	}
	.tarif_add_pack__cont{
		margin: 0 0 15px;
	}
	.dotted_title:after{
		width: 630px;
	}
	.add_package_list__item{
		width: 310px;
		margin: 0 100px 0 0;
	}
	.bottom_adv__left{
		width: 590px;
	}
	.add_packs_box__count_holder{
		text-align: right;
		padding: 0 55px 0 0;
	}
	.add_eq{
		width: 544px;
		padding: 38px 280px 10px 26px;
		background: url(../pics/inet_machine2.jpg) no-repeat right bottom;
	}
	.add_eq__more{
		margin: 0 0 22px;
	}
	.tarif_popup__list_item{
		width: 219px;
	}
	.tarif_slider__list_all_channels{
		right: -43px;
	}
	.tarif_slider__list_ch_box{
		margin: 0 0 0 -40px;
	}
	.ch_main_info__item{
		width: 280px;
		padding: 14px 10px 10px 33px;
	}
	.connect_way__list_item{
		margin: 0 106px 0 0;
	}
	.corporative__text{
		width: 950px;
	}
	.connect_content__right{
		width: 500px;
	}
	.box--how_to_pay{
		width: 693px;
		display: inline-block;
		vertical-align: top;
		margin: 0 65px 41px 0;
		padding: 38px 26px 24px;
	}
	.how_to_pay_main_outer{
		width: auto;
	}
	.how_to_pay_main{
		width: 1160px;
	}
	.how_to_pay__col{
		width: 193px;
		margin: 0 38px 0 0;
	}
	.how_to_pay__desc{
		width: 450px;
	}
	.how_pay_list{
		width: 312px;
		height: 312px;
		margin: 0 66px 41px 0;
	}
	.how_pay_list__flip, .how_pay_list__front, .how_pay_list__back{
		width: 312px;
		height: 312px;
	}
	.how_pay_list__front{
		padding: 27px 33px 28px;
	}
	.how_pay_list__back{
		padding: 65px 33px 28px;
	}
	.how_pay_list__img{
		display: block;
		width: auto;
		height: auto;
		margin: 0 0 5px;
		min-height: 178px;
	}
	.how_pay_list__title_box{
		display: block;
		width: auto;
		text-align: center;
	}
	.box--how_to_pay {
		margin: 0 65px 41px 0;
	}
	.how_pay_list__img--banking{
		padding: 29px 0 0;
	}
	.how_pay_list__img--sms{
		padding: 6px 0 0;
	}
	.how_pay_list__img--terminal{
		padding: 6px 0 0;
	}
	.how_pay_list__img--bankomat{
		padding: 11px 0 0;
	}
	.how_pay_list__img--pochta{
		padding: 11px 0 0;
	}
	.how_pay_list__img--bank{
		padding: 12px 0 0;
	}
	.tarif_two_cols__left{
		width: 545px;
	}
	.tarif_two_cols__right{
		width: 545px;
	}
	.tarif__name_tip{
		padding: 0 0 0 27px;
		vertical-align: middle;
		width: 200px;
		height: auto;
	}
	.tarif__name_tip > em{
		display: inline;
		opacity: 1;
		visibility: visible;
		padding: 0;
		background: none;
		width: auto;
		position: static;
		margin: 0;
		border: none;
	}
	.tarif_cols > li:first-child{
		width: 360px;
	}
	.tarif__table > li:first-child{
		width: 360px;
	}
	.rating__list_holder{
		width: 1070px;
	}
	.rating__list{
		width: 1110px;
	}
	.rating__list--wide .rating__list_item{
		width: 192px;
	}
	.rating_result__item {
		width: 125px;
		margin: 0 28px 0 0;
	}
	.rating_result__item_head {
		left: 24px;
	}
	.rating_result--wide .rating_result__item {
		width: 195px;
		margin: 0 15px 30px 0;
	}
}
@media (min-width: 1600px){
	.container{
		width: 1450px;
	}
	.secondary_menu_holder{
		width: auto;
		padding: 0;
		float: none;
	}
	.menu_trigger_holder{
		position: absolute;
		top: 4px;
		left: 5px;
	}
	h1{
		font-size: 50px;
		line-height: 52px;
	}
	h3{
		font-size: 35px;
		line-height: 37px;
	}
	.menu_trigger{
		width: 50px;
		height: 50px;
		background-position: -565px 0;
	}
	.menu_trigger.active{
		background-position: -620px 0;
	}
	.header_location{
		margin: 14px 159px 0 22px;
	}
	.main_nav__item{
		margin: 0 56px 0 0;
	}
	.secondary_menu_box{
		margin: 0 0 52px 0;
	}
	.logo{
		width: 169px;
		height: 56px;
		background-position: -529px -142px;
		margin: 7px 50px 0 0;
	}
	.main_cats{
		padding: 31px 0 0;
	}
	.main_cats__item{
		margin: 0 65px 0 0;
	}
	.main_cats__link{
		font-size: 30px;
		line-height: 32px;
	}
	.main_cats__link--tv:before{
		top: -5px;
		left: -38px;
	}
	.main_cats__link--inet:before{
		top: 4px;
		left: -38px;
	}
	.main_cats__link--deal:before{
		top: 3px;
		left: -40px;
	}
	.secondary_additional {
		padding: 18px 0 0;
	}
	.main_slider_holder{
		width: 828px;
		height: 410px;
	}
	.main_slider__text{
		top: 83px;
		right: 90px;
		line-height: 28px;
	}
	.main_slider__title{
		font-size: 32px;
		line-height: 38px;
		margin: 0 0 12px;
	}
	.main_slider__paging{
		bottom: 26px;
	}
	.special_menu{
		font-size: 16px;
		line-height: 20px;
		margin: 0 45px 0 -22px;
		width: 203px;
		padding: 20px 0 0;
	}
	.special_menu__link{
		padding: 19px 16px 12px 60px;
	}
	.box--pay_top{
		width: 355px;
		padding: 32px 26px;
	}
	.banner_box--slim{
		display: none;
	}
	.support_phone{
		text-align: left;
	}
	.pay_online__title{
		font-size: 25px;
		line-height: 32px;
		margin: 0 0 14px;
	}
	.pay_online__col_left{
		margin: 0 0 14px;
	}
	.pay_online__row{
		margin: 0 0 26px;
	}
	.pay_online__btn{
		width: 100%;
		display: block;
		font-size: 20px;
		padding: 18px 7px 13px;
	}
	.pay_online__way{
		text-align: left;
		margin: 0 0 -39px;
	}
	.pay_online__way_item{
		margin: 0 36px 0 0;
	}
	.why_we__list_item{
		margin: 0 50px 0 0;
	}
	.why_we__list_item--show1600{
		display: inline-block;
	}
	.box--package_tv, .box--package_int{
		width: 508px;
	}
	.banner_box--double{
		display: block;
	}
	.package_intro__title{
		font-size: 36px;
		line-height: 41px;
	}
	.package_intro__tab td{
		padding: 28px 0 22px;
	}
	.package_intro__pack_name{
		font-size: 25px;
		line-height: 28px;
	}
	.package_intro__all{
		margin: 20px 0 0;
	}
	.package_intro__btn{
		font-size: 21px;
		line-height: 23px;
		padding: 16px 19px 11px;
	}
	.news__title:after{
		width: 1120px;
	}
	.news__list_holder{
		width: auto;
	}
	.news__list{
		width: auto;
	}
	.news__list_item{
		margin: 0 105px 0 0;
	}
	.rating{
		position: relative;
		padding: 0 0 0 175px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.rating:before{
		position: absolute;
		top: 0;
		left: 0;
		content:"";
		width: 129px;
		height: 160px;
		background: url(../images/sprite.png) no-repeat -708px 0;
	}
	.rating__title_box:before{
		display: none;
	}
	.rating__list_item{
		width: 122px;
		margin: 0 49px 0 0;
	}
	.top_footer{
		display: none;
	}
	.bottom_footer{
		background: #f2ece9;
	}
	.big_social_box{
		display: block;
	}
	.common_footer_nav{
		float: left;
		padding: 14px 0 0;
	}
	.common_footer_nav__item{
		margin: 0 10px 0 0;
		width: 180px;
	}
	.logo--bottom_mini{
		margin: 0 0 32px;
		width: 138px;
		height: 45px;
		background: url(../images/sprite.png) no-repeat;
		display: inline-block;
		vertical-align: top;
	}
	.footer_tels--onwider{
		display: block;
	}
	.filter_holder__item{
		width: 438px;
	}
	.cat_drop__list{
		width: 436px;
	}
	.cat_drop__drop_name{
		width: 360px;
	}
	.tv_accordion__broadcast:after{
		width: 182px;
	}
	.prod_list_holder{
		width: 1455px;
	}
	.prod_list{
		width: 1490px;
	}
	.prod_list__item{
		margin: 0 40px 18px 0;
	}
	.docs{
		width: 620px;
	}

	.user_data{
		width: 1515px;
	}
	.user_data__row{
		width: 313px;
		margin: 0 63px 50px 0;
	}
	.user_data__row--large{
		width: 692px;
	}
	.user_data__row--full{
		width: 1448px;
	}
	.info_row:after{
		width: 1450px;
	}
	.add_packs_box__tv{
		width: 355px;
	}
	.add_packs_box{
		margin: 0 0 20px;
	}
	.user_data__row--last{
		width: 1071px;
	}
	.head_location__box{
		width: 1450px;
	}
	.head_location__list_item{
		width: 310px;
		margin: 0 40px 0 0;
	}
	.tender_list__content{
		width: 1150px;
	}
	.tender_list__price_box{
		width: 296px;
	}
	.button--tender_list{
		font-size: 20px;
		line-height: 22px;
		padding: 15px 35px 10px;
	
		left: 32px;
}
	.tender_list__price_num{
		font-size: 32px;
		line-height: 34px;
	}
	.tender_list__price_cur{
		font-size: 24px;
		line-height: 26px;
	}
	.single_post__left_img{
		width: 450px;
	}
	.single_post__title{
		font-size: 50px;
		line-height: 52px;
	}
	.press_list_holder{
		width: 1450px;
	}
	.press_list{
		width: 1480px;
	}
	.press_list__item{
		width: 710px;
		margin: 0 26px 40px 0;
}
	.press_list__cont{
		width: 510px;
		font-size: 14px;
		line-height: 24px;
	}
	.press_list__link{
		font-size: 24px;
		line-height: 34px;
	}
	.press_list__text{
		height: 120px;
	}
	.tv_pluses_holder{
		width: 1450px;
		text-align: center;
	
		padding: 45px 24px;
}
	.tv_plus__item{
		width: 235px;
		margin: 0 20px;
	}
	.tv_plus__img{
		display: block;
		margin: 0 auto 10px;
		min-height: 90px;
		width: 75px;
}
	.tv_plus__content{
		display: block;
		width: auto;
	}
	.tv_plus > li:nth-child(4), .tv_plus > li:nth-child(5){
		width: 235px;
	}
	.tv_plus > li:nth-child(4) .tv_plus__content, .tv_plus > li:nth-child(5) .tv_plus__content{
		display: block;
		width: auto;
	}
	.tv_super_holder{
		width: auto;
	}
	.tarif_slider_holder {
		width: 1150px;
	}
	.tarif_add_pack{
		width: 700px;
		background-position: 0 100%;
		padding: 28px 28px 17px 280px;
	}
	.tarif_add_pack__list_li{
		width: 174px;
	}
	.add_eq{
		width: 700px;
		padding: 38px 410px 10px 26px;
		background-size: 350px;
		background-position: 312px -108px;
	}
	.dotted_title:after{
		width: 940px;
	}
	.add_package_list__item{
		margin: 0 66px 0 0;
	}
	.add_package_list > li:nth-child(3){
		margin: 0 66px 0 0;
	}
	.add_package_list > li:last-child{
		display: inline-block;
		margin: 0;
	}
	.tarif_add_pack__list_li{
		width: 134px;
	}
	.bottom_adv__left{
		width: 1000px;
	}
	.tarif_popup_holder{
		padding: 0;
	}
	.tarif_popup__list_item{
		margin: 0 17px 30px 0;
	}
	.ch_main_info__item{
		width: 290px;
		padding: 14px 10px 10px 45px;
	}
	.connect_way__list_item{
		margin: 0 210px 0 0;
	}
	.corporative__text{
		width: 1270px;
	}
	.connect_way__list_img{
		width: auto;
		min-height: 210px;
	}
	.tarif_slider__list_btn em{
		display: inline;
	}
	.tarif_slider__list_btn span{
		display: none;
	}
	.add_packs_box__count--tarif_add{
		margin: -7px 140px 6px 0;
	}
	.tarif_two_cols__left{
		width: 705px;
	}
	.tarif_two_cols__right{
		width: 705px;
	}
	.static_ip{
		background: url(../images/static_ip1600.jpg) no-repeat top left;
		padding: 25px 25px 25px 300px;
	}
	.tarif_cols > li:first-child{
		width: 590px;
	}
	.tarif__table > li:first-child{
		width: 590px;
	}
	.tarif__name_tip{
		width: 320px;
	}
	.rating__list_holder{
		width: 1204px;
	}
	.rating__list{
		width: 1240px;
	}
	.rating__list--wide .rating__list_item{
		width: 219px;
	}
	.rating_result__item {
		margin: 0 51px 0 0;
	}
	.rating_result--wide .rating_result__item {
		width: 220px;
		margin: 0 17px 30px 0;
	}
}