#alma_contest_form {
  max-width: 575px;
  display: block;
  margin: 0 auto;
}

#alma_contest_result {
  margin-top: 16px;
  padding: 10px 12px 5px;
  border: 1px solid #CCC;
  border-radius: 4px;
  text-align: center;
}

#alma_contest_result p {
  margin: 0;
}

#alma_contest_check {
  display: block;
  width: 100%;
  height: 42px;
}

#alma_contest_loader {
  padding: 0;
  vertical-align: middle;
  margin-left: -20px;
}

.alma_contest_error {
  color: #E74E3C;
  font-size: 1em;
  padding: 6px 0 0;
}

.alma_contest_has_error {
  border-color: #E74E3C;
}

.alma_contest_has_error ~ .alma_contest_error {
  display: block !important;
}

#alma_contest_form .form-group {
  margin-bottom: 10px;
}

#alma_contest_form .form-control {
  width: 100%;
  font-size: 14px;
}