/*.item
{
	margin-bottom: 20px;
}*/

h2.head {
  height: 45px;
  overflow: hidden;
}

h3.head {
	height: 38px;
	overflow: hidden;
}

a.decoration-none
{
	text-decoration: none;
}

input.pay_online__field.error
{
	border-bottom: 2px solid #e76847;
}

.check_balance_eror > span {
	font: 18px/18px 'glober_regularregular', Tahoma, Verdana, Arial, sans-serif;
	color: #62a3ed;
	display: inline-block;
	margin: 0 0 0 5px;
}

a.tel
{
	text-decoration: none;
}

.contact_info__phone  a
{
	text-decoration: none;
	color: black;
}
.contact_info__phone  a:hover
{
	color: #62a3ed;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

 .support_phone a span:hover, .support_phone a:hover, .footer_tels a:hover
{
	color: #62a3ed;
	text-decoration: none;
}

.support_phone a span, .footer_tels a
{
	color: #93a4aa;
	text-decoration: none;
}


.special_menu__link--update:before {
	content: "";
	background: url(../images/sprite.png) no-repeat;
	position: absolute;
	top: 27px;
	left: 16px;
}
.special_menu__link--update:before {
	width: 24px;
	height: 24px;
	background-position: -198px -27px;
}

.tarif_row__cell__sub_tooltip span
{
	font-weight: bold;
}

.tarif_row__list_img
{
	top: -2px;
	position: relative;
	float: right;
	left: -440px;
	width: 18px;
	height: 18px;
	display: block;
	z-index: 10;
	background: url(../images/sprite.png) no-repeat -237px -234px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.circle_dasder img
{
	border: 2px solid #d6e1e5;
}
.box-c
{
	border: 2px solid #d6e1e5;
	padding: 21px 35px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.green
{
	color: #c5e280;
}

.inettv_main_no {
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 45px;
	display: block;
	min-height: 340px;
}

#a-tenders
{
	font-size: 18px;
}

.search_res_list b {
	font-size: 16px;
	line-height: 18px;
	background: #fdf5cb;
	font-weight: 400;
}

.popup_import{
	width: 460px;
    margin: 0 auto;
    padding: 11px 32px 44px 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	background: #fff; /* Цвет фона */
    /*opacity: 0.7; /* Полупрозрачный фон */
}  

.popup_import .close_popup
{
    position: absolute;
    right: -62px;
    top: -12px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    background: url(../images/sprite.png) no-repeat -309px -33px;
    z-index: 10;
}

.popup_import-title{
	font-size: 43px;
	line-height: 48px;
	font-family: 'globerlight', sans-serif;
}
.popup_import-box{
	padding: 20px;
	text-align: center;
	font-size: 20px;
	/*height: 320px;*/
}
.popup_import-box:after{
	content:"";
	display:block;
	clear:both;
}
