@font-face {
	font-family: 'IntroInline';
	src: url('../fonts/intro_inline/intro_inline.eot');
	src: url('../fonts/intro_inline/intro_inline.eot') format('embedded-opentype'),
		 url('../fonts/intro_inline/intro_inline.woff2') format('woff2'),
		 url('../fonts/intro_inline/intro_inline.woff') format('woff'),
		 url('../fonts/intro_inline/intro_inline.ttf') format('truetype'),
		 url('../fonts/intro_inline/intro_inline.svg#IntroInline') format('svg');
}
@font-face {
	font-family: 'Intro';
	src: url('../fonts/intro/intro.eot');
	src: url('../fonts/intro/intro.eot') format('embedded-opentype'),
		 url('../fonts/intro/intro.woff2') format('woff2'),
		 url('../fonts/intro/intro.woff') format('woff'),
		 url('../fonts/intro/intro.ttf') format('truetype'),
		 url('../fonts/intro/intro.svg#Intro') format('svg');
}